<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./includes/css-files.ejs') %>
  </head>
  <body>
    <main class="container-lg mt-4">
      <div class="row">
        <!-- Dashboard Nav Section -->
        <%- include('./includes/dashboard-nav.ejs', {activeNav : 'courses'}) %>

        <!-- Experience section -->
        <section class="col-lg-8 col-md-8 col-12">
          <div class="card p-3">
            <header class="card-header bg-transparent">
              <h3 class="fw-bold text-primary">Courses</h3>
            </header>

            <div class="card-body">
              <div class="row">
                <!-- experience 1 -->
                <div class="col-12 mb-5">
                  <div class="shadow-sm p-3">
                    <a href="#"> <h4>Front end</h4> </a>

                    <div class="text-black-50 fs-6 d-flex flex-column">
                      <span>From 2019 to 2021</span>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque, velit!
                      </p>
                    </div>
                  </div>
                </div>

                <!-- experience 2 -->
                <div class="col-12 mb-5">
                  <div class="shadow-sm p-3">
                    <a href="#"> <h4>Back end</h4> </a>

                    <div class="text-black-50 fs-6 d-flex flex-column">
                      <span>2021 to 2022</span>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Itaque, velit!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('./includes/js-files.ejs') %>
  </body>
</html>
